<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="flex full-height">

    <div class="container">

      <h1 class="m-y-20 text-white">
        <b>Login</b>
      </h1>

      <ion-list class="input">
        <ion-item>
          <ion-input labelPlacement="floating">
            <div slot="label">Email</div>
          </ion-input>
        </ion-item>
      </ion-list>

      <ion-list class="input">
        <ion-item>
          <ion-input labelPlacement="floating">
            <div slot="label">Password</div>
          </ion-input>
        </ion-item>
      </ion-list>

      <div class="flex-end">
        <ion-button class="submit-btn">Submit</ion-button>
      </div>
    </div>

  </div>
</ion-content>
